nav{
    background-color: black;
    color: white;
    margin: 20px;
    height: 60px;
    padding-top: 30px;

}
li,h1,ul{
    display: inline;
    color: gray;
    cursor: grab;
}
ul{
    padding-left: 60%;
}
li:hover{
    color: white;
}


input{
    width: 60%;
    padding: 15px;
    
}
.searchbar{
    padding: 50px;
    text-align: center;
}

.shirt{
    border-width: 10px;
    border-color: black;
    border-style: solid;
    margin: 50px;

    width: 500px;
    display: inline-block
    
}

.about{
    color: black;
    text-align: center;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
}